body {
    background: rgb(46, 50, 100);
  }
  
  .fill {
    
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    background-size: cover;
    cursor: pointer;
  }
  
  .hold {
    border: solid 5px #ccc;
  }
  
  .empty {
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: solid 3px rgb(46, 50, 100);
    background: white;
  }


  .hovered {
    background: #f4f4f4;
    border-style: dashed;
  }
.foto{
  display: inline;
}
.foto1{
  display: inline;
}
.foto2{
  display: inline;
}
.foto3{
  display: inline;
}
.foto4{
  display: inline;
}
.foto5{
  display: inline;
}
.foto6{
  display: inline;
}